# Predicting Hospitalization Costs

Chris Defreitas

November 2018

Bryant University

# Data Cleaning and Transformation

### Imports

Import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import copy
%matplotlib inline
plt.style.use('ggplot')

Import dataset

In [3]:
# Specify the selected field and their datatypes 

type_arrival = {'sex': 'category',
                'er_mode': 'category',
                'admtype': 'category',
                'yoa': 'float16',
                'diag_adm': 'category',
                'dx1': 'category',
                'dx2': 'category',
                'dx3': 'category',
                'dx4': 'category',
                'dx5': 'category',
                'dx6': 'category',
                'dx7': 'category',
                'dx8': 'category',
                'dx9': 'category',
                'dx10': 'category',
                'dx11': 'category',
                'dx12': 'category',
                'dx13': 'category',
                'dx14': 'category',
                'dx15': 'category',
                'dx16': 'category',
                'dx17': 'category',
                'dx18': 'category',
                'dx19': 'category',
                'dx20': 'category',
                'dx21': 'category',
                'dx22': 'category',
                'dx23': 'category',
                'dx24': 'category',
                'dx25': 'category', 
                'poa1': 'category', 
                'poa2': 'category', 
                'poa3': 'category', 
                'poa4': 'category', 
                'poa5': 'category', 
                'poa6': 'category', 
                'poa7': 'category', 
                'poa8': 'category', 
                'poa9': 'category', 
                'poa10': 'category', 
                'poa11': 'category',
                'poa12': 'category', 
                'poa13': 'category', 
                'poa14': 'category', 
                'poa15': 'category', 
                'poa16': 'category', 
                'poa17': 'category', 
                'poa18': 'category', 
                'poa19': 'category', 
                'poa20': 'category', 
                'poa21': 'category', 
                'poa22': 'category',
                'poa23': 'category',
                'poa24': 'category',
                'poa25': 'category',
                'pay_ub92': 'category',
                'provider': 'category', 
                'asource': 'category',
                'moa': 'float16',
                'age': 'float16',
                'race': 'category'}

type_target = {'tot': 'float64'}

col_arrival = [*type_arrival]
col_target = [*type_target]

usecols = col_arrival + col_target
dtype = {}
for d in [type_arrival, type_target]:
    for k, v in d.items():
        dtype[k] = v

In [4]:
# import data using relevant columns and datatypes
df1 = pd.read_csv('hdd0313cy.csv', 
                  usecols=usecols, 
                  dtype=dtype
                 )

In [ ]:
print(df1.shape)

## Data Cleaning

Remove newborn data

In [5]:
df2 = df1.copy()
df2 = df2[df2.age > 0]
df2 = df2[df2.admtype != '4']
v = ['1', '2', '3', '4', '5', '6', '7', '8', '9', 'Z', 'A']
df2 = df2[df2.admtype.isin(v)]
df2.shape

(1385592, 62)

In [6]:
def getFullYear(y):
    '''Converts yoa from yy format to yyyy format'''
    if y == 0:
        return 2000
    elif y < 10:
        return float("200"+str(y))
    elif y < 25:
        return float("20"+str(y))
    elif y < 100:
        return float("19"+str(y))
    else:
        return y

Remove columns that are not known upon admission. Remove rows that are missing relevant data.

In [7]:
df2 = df2[df2.sex != '9']
df2.sex.cat.remove_unused_categories()
print(df2.shape)
df2 = df2[df2.admtype != '9'] # rem
print(df2.shape)
df2 = df2[False == pd.isna(df2.admtype)]
print(df2.shape)
df2 = df2[False == pd.isna(df2.asource)]
print(df2.shape)
df2 = df2[False == pd.isna(df2.race)]
print(df2.shape)
#df2 = df2[False == pd.isna(df2.dx1)]
print(df2.shape)
df2 = df2[False == pd.isna(df2.er_mode)]
print(df2.shape)
df2 = df2[False == pd.isna(df2.diag_adm)]
print(df2.shape)
df2['yoa'] = df2['yoa'].apply(getFullYear)
df2 = df2[df2.yoa >= 2010]
print(df2.shape)
df2 = df2[df2.age <= 100]
print(df2.shape)

(1385535, 62)
(1384779, 62)
(1384779, 62)
(1383501, 62)
(1134229, 62)
(1134229, 62)
(953625, 62)
(953192, 62)
(465251, 62)
(464957, 62)

Check datatypes

In [8]:
print(df2.dtypes)

pay_ub92    category
age          float16
sex         category
provider    category
moa          float16
yoa          float64
admtype     category
asource     category
dx1         category
dx2         category
dx3         category
dx4         category
dx5         category
dx6         category
dx7         category
tot          float64
dx8         category
dx9         category
dx10        category
dx11        category
diag_adm    category
er_mode     category
dx12        category
dx13        category
dx14        category
dx15        category
dx16        category
dx17        category
dx18        category
dx19        category
              ...
dx22        category
dx23        category
dx24        category
dx25        category
race        category
poa1        category
poa2        category
poa3        category
poa4        category
poa5        category
poa6        category
poa7        category
poa8        category
poa9        category
poa10       category
poa11       category
poa12       category
poa13       category
poa14       category
poa15       category
poa16       category
poa17       category
poa18       category
poa19       category
poa20       category
poa21       category
poa22       category
poa23       category
poa24       category
poa25       category
Length: 62, dtype: object

Edit year of addmission collumn

In [9]:
df2['doa'] = df2['yoa'] * 12 + (df2['moa']-1)

In [10]:
df3 = df2.copy()

In [11]:
#df3.to_csv("df3.csv")

In [12]:
df3_arrival = df3.filter(col_arrival + col_target)
print(df3_arrival.shape)
df3_arrival.head()

(464957, 62)

,sex,er_mode,admtype,yoa,diag_adm,dx1,dx2,dx3,dx4,dx5,...,poa23,poa24,poa25,pay_ub92,provider,asource,moa,age,race,tot
1005352,2,0,2,2010.0,64413,66401,64821,2859,V270,NaN,...,NaN,NaN,NaN,4,7214,1,3.0,20.0,1,14150.0
1005354,2,0,2,2010.0,78659,64893,514,4238,64863,4254,...,NaN,NaN,NaN,4,7214,1,3.0,28.0,1,7767.0
1005355,2,0,2,2010.0,64863,64863,4280,4238,4254,64853,...,NaN,NaN,NaN,4,7214,1,3.0,28.0,1,5315.0
1005356,2,0,2,2010.0,65803,65813,64843,30000,NaN,NaN,...,NaN,NaN,NaN,4,7214,1,3.0,26.0,1,31107.0
1005360,2,0,2,2010.0,64413,66411,V270,NaN,NaN,NaN,...,NaN,NaN,NaN,4,7214,1,2.0,24.0,5,5696.0

#### Filter on the most frequent diag_adm

In [13]:
top_diag = df3_arrival.groupby(['diag_adm']).size().reset_index(name='counts').sort_values(by=['counts'], ascending=False)
print(top_diag.head())
print(top_diag.head(10)['counts'].sum())
print(top_diag.head(50)['counts'].sum())
print(top_diag.head(100)['counts'].sum())
print(top_diag.head(500)['counts'].sum())
print(top_diag.head(1000)['counts'].sum())
print(top_diag['counts'].sum())

     diag_adm  counts
2211    64413   15873
491     78605   14325
41        486   12337
233     29690   11694
98      78650   10767
102675
235747
295865
407000
438038
464957

In [14]:
n = 50
top_n_diag = top_diag.head(n)['diag_adm']
df3_top_n_diag = df3_arrival[df3_arrival['diag_adm'].isin(top_n_diag)]

## ANOVA for diag_adm

In [15]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [16]:
#mod = ols('tot ~ diag_adm', data=df3_arrival).fit()

In [17]:
#aov_table = sm.stats.anova_lm(mod, tpy=2)
#print(aov_table)

In [18]:
#                df        sum_sq       mean_sq          F  PR(>F)
#diag_adm    6639.0  1.238547e+14  1.865563e+10  12.227963     0.0
#Residual  459800.0  7.014952e+14  1.525653e+09        NaN     NaN

In [19]:
#mod = ols('tot ~ sex', data=df3_arrival).fit()

In [20]:
#aov_table = sm.stats.anova_lm(mod, tpy=2)
#print(aov_table)

In [21]:
#mod = ols('tot ~ er_mode', data=df3_arrival).fit()

In [22]:
#aov_table = sm.stats.anova_lm(mod, tpy=2)
#print(aov_table)

In [23]:
#mod = ols('tot ~ asource', data=df3_arrival).fit()

In [24]:
#aov_table = sm.stats.anova_lm(mod, tpy=2)
#print(aov_table)

In [25]:
cxx = ['sex', 'age', 'provider', 'diag_adm', 'dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'poa1', 'poa2', 'poa3', 'poa4', 'poa5']
df3_preview = df3_arrival.filter(items=cxx, axis='columns')

In [26]:
#df3_arrival.to_csv("df3_arrival.csv")

## Encoding All dx Present on Admission

In [27]:
dxs = ["dx{}".format(i) for i in range(1, 26)]
dxs.append('diag_adm')
dx_uniques = list(top_n_diag)

In [28]:
print(len(dxs))
print(len(dx_uniques))

26
50

In [29]:
def dx_poa(df, a=1, b=26):
    for i in range(a, b):
        dx = "dx{}".format(i)
        poa = "poa{}".format(i)
        df[dx] = df[dx][df[poa]=="Y"]
    return df

In [30]:
df4 = dx_poa(df3_arrival)

In [31]:
df5 = df4.copy()

In [32]:
#def _reset_hots(df):
#    #n = len(df)
#    reset = pd.Series([0] * len(df.index), index=df.index)
#    for code in dx_uniques:
#        #df[col] = 0
#        #df.loc[:,col] = np.zeros(n)
#        df["dx_{}".format(code)] = reset
#    return df

In [33]:
df_diag = pd.DataFrame(index=df5.index, columns=dx_uniques)
df_diag = df_diag.fillna(0)

In [34]:
codes = dx_uniques
for code in codes:
    df_diag[code] = (code == df5['diag_adm']) | (code == df5['dx1']) | (code == df5['dx2']) | (code == df5['dx3']) | (code == df5['dx4']) | (code == df5['dx5']) | (code == df5['dx6']) | (code == df5['dx7']) | (code == df5['dx8']) | (code == df5['dx9']) | (code == df5['dx10']) | (code == df5['dx11']) | (code == df5['dx12']) | (code == df5['dx13']) | (code == df5['dx14']) | (code == df5['dx15']) | (code == df5['dx16']) | (code == df5['dx17']) | (code == df5['dx18']) | (code == df5['dx19']) | (code == df5['dx20']) | (code == df5['dx21']) | (code == df5['dx22']) | (code == df5['dx23']) | (code == df5['dx24']) | (code == df5['dx25'])

In [35]:
print(df_diag.sum())

64413    15887
78605    15019
486      28535
29690    16093
78650    12825
311      50799
78900     9166
7802     10749
4280     54637
78060     8303
49121    17599
78097     8892
5990     35679
71536     7790
78079     9157
42731    55085
29633     6098
5789      7297
6826      9225
43491     6500
2989      6674
78659    10296
0389     12131
78609     4812
5849     41170
78701     7262
78909     4470
V5789     3276
65423     3498
30390    10725
65813     2775
71535     3663
41401    64452
V221      2578
78791     8736
5609      3801
56211     4966
5770      4868
64513     2334
2859     31279
41071    11386
27651    22194
7295      4067
49392     4184
78039     5184
650       2001
51881    11449
7804      4390
64403     2048
29680    10456
dtype: int64

In [40]:
df_5_hot = pd.concat([df5, df_diag], axis=1)

In [41]:
df_5_hot.head()

,sex,er_mode,admtype,yoa,diag_adm,dx1,dx2,dx3,dx4,dx5,...,41071,27651,7295,49392,78039,650,51881,7804,64403,29680
1005352,2,0,2,2010.0,64413,NaN,64821,2859,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1005354,2,0,2,2010.0,78659,64893,514,4238,64863,4254,...,False,False,False,False,False,False,False,False,False,False
1005355,2,0,2,2010.0,64863,64863,4280,4238,4254,64853,...,False,False,False,False,False,False,False,False,False,False
1005356,2,0,2,2010.0,65803,65813,64843,30000,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1005360,2,0,2,2010.0,64413,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
#print(df_5_hot.iloc[0])

In [48]:
drop_cols = ["poa{}".format(i) for i in range(1,26)]
drop_cols.extend(dxs)
print(drop_cols)

['poa1', 'poa2', 'poa3', 'poa4', 'poa5', 'poa6', 'poa7', 'poa8', 'poa9', 'poa10', 'poa11', 'poa12', 'poa13', 'poa14', 'poa15', 'poa16', 'poa17', 'poa18', 'poa19', 'poa20', 'poa21', 'poa22', 'poa23', 'poa24', 'poa25', 'dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'dx6', 'dx7', 'dx8', 'dx9', 'dx10', 'dx11', 'dx12', 'dx13', 'dx14', 'dx15', 'dx16', 'dx17', 'dx18', 'dx19', 'dx20', 'dx21', 'dx22', 'dx23', 'dx24', 'dx25', 'diag_adm']

In [49]:
df6 = df_5_hot.drop(drop_cols, axis=1)

In [52]:
df6.head()

,sex,er_mode,admtype,yoa,pay_ub92,provider,asource,moa,age,race,...,41071,27651,7295,49392,78039,650,51881,7804,64403,29680
1005352,2,0,2,2010.0,4,7214,1,3.0,20.0,1,...,False,False,False,False,False,False,False,False,False,False
1005354,2,0,2,2010.0,4,7214,1,3.0,28.0,1,...,False,False,False,False,False,False,False,False,False,False
1005355,2,0,2,2010.0,4,7214,1,3.0,28.0,1,...,False,False,False,False,False,False,False,False,False,False
1005356,2,0,2,2010.0,4,7214,1,3.0,26.0,1,...,False,False,False,False,False,False,False,False,False,False
1005360,2,0,2,2010.0,4,7214,1,2.0,24.0,5,...,False,False,False,False,False,False,False,False,False,False

## One-Hot Encoding for Other Categorical Variables

In [53]:
df_copy = df6.copy()

In [54]:
print(df_copy.columns)

Index(['sex', 'er_mode', 'admtype', 'yoa', 'pay_ub92', 'provider', 'asource',
       'moa', 'age', 'race', 'tot', '64413', '78605', '486', '29690', '78650',
       '311', '78900', '7802', '4280', '78060', '49121', '78097', '5990',
       '71536', '78079', '42731', '29633', '5789', '6826', '43491', '2989',
       '78659', '0389', '78609', '5849', '78701', '78909', 'V5789', '65423',
       '30390', '65813', '71535', '41401', 'V221', '78791', '5609', '56211',
       '5770', '64513', '2859', '41071', '27651', '7295', '49392', '78039',
       '650', '51881', '7804', '64403', '29680'],
      dtype='object')

In [55]:
fields = ['er_mode', 'admtype', 
          #'diag_adm', 
          'pay_ub92', 'provider', 'asource', 'race']

df6_encoded = pd.get_dummies(df_copy, columns=fields, prefix=fields)

print(df6_encoded.shape)

(464957, 126)

In [56]:
df6_encoded.head()

,sex,yoa,moa,age,tot,64413,78605,486,29690,78650,...,asource_F,race_1,race_2,race_3,race_5,race_9,race_6,race_7,race_4,race_0
1005352,2,2010.0,3.0,20.0,14150.0,True,False,False,False,False,...,0,1,0,0,0,0,0,0,0,0
1005354,2,2010.0,3.0,28.0,7767.0,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,0
1005355,2,2010.0,3.0,28.0,5315.0,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,0
1005356,2,2010.0,3.0,26.0,31107.0,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,0
1005360,2,2010.0,2.0,24.0,5696.0,True,False,False,False,False,...,0,0,0,0,1,0,0,0,0,0

In [57]:
df_sample = df6_encoded.sample(10000)

In [58]:
df_sample.to_csv("df_sample.csv")

In [59]:
df6_encoded.to_csv("df6_encoded.csv")